/* general styles */
        body {
            padding: 0;
            margin: 0;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            background: #ccc url(../images/background-grey.jpg) repeat;
        }

        ul {
            list-style: none;
        }
        
        .background-image-fixed-position {
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 500px;
            background-image: url(../images/background.jpg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }
        
        .wrapper {
            position: relative;
            z-index: 2;
            margin: 0;
            padding: 0;
        }
        
        .fixedwidth {
        }
        
        .navigation-wrapper {
            width: 100%;
            position: fixed;
            top: 0;
            
        }
        
        .navigation {
            z-index: 1000;
            width: 960px;
            margin: 0 auto;
            height: 60px;
            padding: 30px 0;
            border-bottom: 1px solid rgba(255,255,255,0.5);
        }
        
        .home-button {
            float: left;
            margin: 0;
            padding: 0;
            text-shadow: 0 0 10px rgba(0,0,0,0.7);
            font-size: 1.75em;
            color: #fff;
        }

        .home-button img {
            display: inline-block;
            vertical-align: text-top;
            position: relative;
            top: -4px;
            margin-right: 5px;
        }
        
        .navigation-menu {
            float: right;
            margin: 0;
            padding: 0;
        }
        
        .navigation-menu li {
            float: left;
            padding: 10px 15px;
            margin-left: 5px;
            color: white;
            font-size: 1.2em;
            text-shadow: 0 0 7px rgba(0,0,0,0.5);
            opacity: 0.7;
        }
        
        .navigation-menu li.active {
            opacity: 1;
            text-shadow: 0 0 7px rgba(0,0,0,0.75);
        }
        
        .navigation-menu li:hover {
            opacity: 1;
            text-shadow: 0 0 7px rgba(0,0,0,0.75);
        }
        
        
        .clearfix {
            clear: both;
        }
        
        .content-wrapper {
            position: relative;
            top: 200px;
            z-index: 2000;
            min-width: 1060px;
            width: 100%;
            margin: 0;
            padding: 0;
            
            background: #ccc url(../images/background-grey.jpg) repeat;
        }
        
        .content {
            position: relative;
            top: 0;
            width: 960px;
            margin: 0 auto;
            padding: 30px 50px 50px 50px;
        }
        
        .main-content {
            background-color: white;
            min-height: 400px;
            padding: 50px 30px;
            border-radius: 5px;
        }
        
        .image-gallery-preview {
            width: 100%;
            padding: 20px 0;
        }
        
        .image-holder {
            float: left;
            width: 290px;
            margin: 5px 0;
            padding: 5px;
        }
        
        .image-border {
            padding: 3px;
            border: solid 1px #CCC;
        }

        .image-div {
            position: relative;
            padding: 0 0 75%;
            text-align: center;
            overflow: hidden;
        }
        
        .image-holder img {
            position: absolute;
            text-align: center;
            border: 0;
            left: 0%;
            height: 200px;
            min-width: 100%;
            min-height: 100%;
            vertical-align: middle;
            height: auto;
        }
        
        .copyright, .page-name {
            font-weight: normal;
            text-align: center;
        }
        
        .top-to-bottom {
            height: 15px;
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOTI5MjkyIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OSUiIHN0b3AtY29sb3I9IiM5MjkyOTIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top,  rgba(51,51,51,0.3) 0%, rgba(146,146,146,0.3) 50%, rgba(146,146,146,0) 89%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,0.3)), color-stop(50%,rgba(146,146,146,0.3)), color-stop(89%,rgba(146,146,146,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(51,51,51,0.3) 0%,rgba(146,146,146,0.3) 50%,rgba(146,146,146,0) 89%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(51,51,51,0.3) 0%,rgba(146,146,146,0.3) 50%,rgba(146,146,146,0) 89%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(51,51,51,0.3) 0%,rgba(146,146,146,0.3) 50%,rgba(146,146,146,0) 89%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(51,51,51,0.3) 0%,rgba(146,146,146,0.3) 50%,rgba(146,146,146,0) 89%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d333333', endColorstr='#00929292',GradientType=0 ); /* IE6-8 */
        }