/* general styles */

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}
        
#logo {
    height: 150px;
    width: 600px;
    margin: 0 auto;
    background-position: center;
    background-image: url(../images/Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.background-image-fixed-position {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.7;
}
        
.wrapper {
    z-index: 10;
    margin: 0;
    padding: 0;
    min-width: 1200px;
}

.navigation-wrapper {
    z-index: 20;
    width: 100%;
    min-height: 300px;
    position: relative;
}

.navigation {
    margin: 0 auto;
    font-size: 20px;
    padding: 30px 0;
}
        
.navigation-menu {
    padding: 0;
    width: 600px;
    margin: 0 auto;
}
        
        .navigation-menu li {
            padding: 10px 15px;
            color: white;
            font-size: 1.2em;
            text-shadow: 0 0 7px rgba(0,0,0,0.5);
            opacity: 0.7;
            text-align: center;
        }

.navigation-menu a {
    float: left;
    width: 30%;
    margin-right: 5%;
    text-decoration: none;
}

.navigation-menu a:last-child {
    margin-right: 0;
}
        
        .navigation-menu li.active {
            opacity: 1;
            text-shadow: 0 0 7px rgba(0,0,0,0.75);
        }
        
        .navigation-menu li:hover {
            opacity: 1;
            text-shadow: 0 0 7px rgba(0,0,0,0.75);
        }
        
        .clearfix {
            clear: both;
        }
        
        .content-background {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: lightgrey;
            opacity: 0.3;
            margin: 0;
            padding: 0;
        }

        #content-wrapper {
            position: relative;
            z-index: 1500;
        }
        
        .content {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding-top: 30px;
        }
        
        
.copyright {
    margin-top: 20px;
    font-size: 12px;
}

.page-name {
    display: block;
    font-size: 40px;
}

        .copyright, .page-name {
            font-weight: normal;
            text-align: center;
            color: white;
            text-shadow: 0 0 15px rgba(0,0,0,1);
        }

#footer {
    z-index: 1000;
    position: relative;
    padding-bottom: 10px;
    margin: 0 auto;
}

/* overlay related styles */
.overlay{
    display: none;
    background-color: #050505;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 5000;
}

.box-holder{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 5100;
}

.box {
    position: relative;
    height: 100%;
    width: 100%;
}

a.close {
    cursor: pointer;
}

#boxclose{
    position: absolute;
    top: -26px;
    right: -26px;
    width: 26px;
    height: 26px;
    background: transparent url(images/cancel.png) repeat top left;
    background-size: cover;
    background-repeat: no-repeat;

    cursor:pointer;
}

.button {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    vertical-align: middle;
}

.button:hover {
    opacity: 0.7;
}

.prev-button {
    left: -50px;
    background-image: url(images/64x64-prev-white.png);
}
.next-button {
    right: -50px;
    background-image: url(images/64x64-next-white.png);
}